* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color: #E1E1E1;
}

section {
    /* background-color: #2a3132; */
    background-color: #0C0C0C;
    /* background: linear-gradient(to right, #000000 0%, #0C0C0C 100%); */
    height: 100vh;
}

.section-title {
    font-size: 6em;
    /* display: flex;
    justify-content: center; */
    display: flex;
    justify-content: center;
    margin: 30px auto;
    /* padding-top: 80px; */
}

/***** Header (side bar) *****/
.header {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-menu li {
    margin: 20px;
    list-style: none;
    background-color: #0C0C0C;
    width: 130px;
}

.nav-menu a {
    color: #E1E1E1;
    display: flex;
    padding: 0.6rem;
    text-decoration: none;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    /* border-color: #336b87; */
    border-color: #E1E1E1
}

.nav-menu i {
    width: 50px;
    height: 35px;
}

.nav-menu span {
    margin-top: auto;
    margin-bottom: auto;
}

.button-colored { background-color: #336B87; }

.fas {
    font-size: 35px;
}

/***** Home section *****/

/* .home-section {
    height: 100vh;
} */

.home-image {
    float: right;
    height: 900px;
    margin-top: 5rem;
    margin-right: 7rem;
}

.home-content {
    margin-top: 15rem;
    margin-left: 17rem;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.title-text, .name-text {
    letter-spacing: .05em;
    text-shadow:
      -1px -1px 1px #336B87,
      2px 2px 1px #336B87;
}

.name-text {
    font-size: 5rem;
}

.title-text {
    font-size: 1.5rem;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    width: 90%;
}

.link-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    margin-left: 20px;
}

.linkedin-button {
    background: url('icons/linkedin-logo-png.png');
    background-size: cover;
    display: inline-block;
}

.github-button {
    background: url('icons/github-transparent-white2.png');
    background-size: cover;
    display: inline-block;
}

.contact-button {
    font-size: 2rem;
    margin-left: auto;
    float: right;
    border-style: solid;
    border-width: 1px;
    border-color: #E1E1E1;
    padding: 0.5rem;
    text-decoration: none;
    color: #E1E1E1;
}


/***** Projects section *****/

.projects-container {
    display: flex;
    justify-content: center;
}

.projects-content {
    /* display: flex;
    justify-content: center; */
    /* width: 80vw; */
    display: grid;
    grid-template-columns: 35em 30em;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    margin: 30px auto;

}

.project {
    border: 5px solid #336B87;
    /* margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px; */
    width: 35em;
    height: 30em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
/***** About section *****/

.about-section {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.about-content {
    display: flex;
    margin-left: 25rem;
    margin-right: 25rem;
    align-items: center;
    font-size: 25px;
    margin-top: 100px;
}

.about-image {
    height: 400px;
}

.resume a {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    color:#E1E1E1;
    text-decoration: none;
}

.resume img {
    height: 200px;
}


/***** Contact section *****/

.contact-section {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.contact-content {
    display: flex;
    justify-content: center;
    margin-left: 25rem;
    margin-right: 25rem;
    align-items: center;
    font-size: 25px;
    margin-top: 100px;
}