* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

section {
    background-color: #404040;
}

/***** Header (side bar) *****/
.header {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto; */
    
}

.nav-menu {
    background-color: orange
}

.nav-menu li {
    padding: 20px;
    border: solid blueviolet;
}

/***** Home section *****/
.home {
    background-color: #404040;
    min-height: 500px;
}

.home-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 150px;
    margin-left: 300px;
    width: 500px;
    color: white;
}

.name-text {
    font-size: 50px;
}

.title-text {
    font-size: 30px;
}

.buttons {
    margin-top: 20px;
}

.link-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    margin-left: 20px;
}

.linkedin-button {
    background: url('icons/linkedin-logo-png.png');
    background-size: cover;
    display: inline-block;
}

.github-button {
    background: url('icons/github-transparent.png');
    background-size: cover;
    display: inline-block;
}

.contact-button {
    font-size: 35px;
    margin-left: auto;
    float: right;
    border: solid black;
}

/***** Projects section *****/
.projects {
    background-color: yellow;
    min-height: 500px;
}

/***** About section *****/
.about {
    background-color: lightgreen;
    min-height: 500px;
}

/***** Contact section *****/
.contact {
    background-color: lightblue;
    min-height: 500px;
}