* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

section {
    background-color: #2a3132;
}

/***** Header (side bar) *****/
.header {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav-menu li {
    margin: 20px;
    list-style: none;
    background-color: #2a3132;
    width: 130px;
}

.nav-menu a {
    color: white;
    display: flex;
    padding: 10px;
    text-decoration: none;
    margin: auto;
    border-style: solid;
    border-width: 1px;
    /* border-color: #336b87; */
    border-color: white
}

.nav-menu i {
    width: 50px;
    height: 35px;
}

.nav-menu span {
    margin-top: auto;
    margin-bottom: auto;
}

.button-colored { background-color:#763626; }

.fas {
    font-size: 35px;
}

/***** Home section *****/
.home-section {
    background-color: #2a3132;
    min-height: 500px;
}

.home-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 150px;
    margin-left: 300px;
    width: 500px;
    color: white;
}

.name-text {
    font-size: 50px;
}

.title-text {
    font-size: 30px;
}

.buttons {
    margin-top: 20px;
}

.link-button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    margin-left: 20px;
}

.linkedin-button {
    background: url('icons/linkedin-logo-png.png');
    background-size: cover;
    display: inline-block;
}

.github-button {
    background: url('icons/github-transparent.png');
    background-size: cover;
    display: inline-block;
}

.contact-button {
    font-size: 35px;
    margin-left: auto;
    float: right;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;
}

/***** Projects section *****/
.projects-section {
    background-color: yellow;
    min-height: 500px;
}

/***** About section *****/
.about-section {
    background-color: lightgreen;
    min-height: 500px;
}

/***** Contact section *****/
.contact-section {
    background-color: lightblue;
    min-height: 500px;
}